/* .special{ 
    color:lightcoral;
    font-weight:bold;
}

span.special{
    color:bisque;
    font-weight:bold;
}
li em{
    color:orange;
}

h1+p{
    font-size:200%;
}

a:hover{
    color:blueviolet;
    text-decoration: none;
}*/

body h1+p.special{
    color:yellow;
    background-color: black;
    padding: 5px;
}